#form{
    width: 65%;
    align-items: center;
    margin-top: 5%;
    
    
}
body {
    background-color: black;
    background-size: stretch;
    font-size: larger;
}
.newbody{
    align-items: center;

    height: 90vh;
}
button{
    align-self: flex-end;

    
}
.row{
    justify-content: space-evenly;
    
}
p{
    font-size: x-large;
    font-weight: bold;
}



  


.clock {
   
   color: white;
   align-items: center;
    
}
